.card {
    margin-right: 40px;
    margin-bottom: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 60px;
}

.show-all {
    height: 50px;
    display:block;
    position: relative;
    border: 1px solid white;
    margin:0 auto;
}

.dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}